<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xmlns="http://java.sun.com/xml/ns/javaee"
xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
	<servlet>
		<servlet-name>Wonder_board</servlet-name>
		<servlet-class>com.gurugv.wonderboard.Wonder_boardServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Wonder_board</servlet-name>
		<url-pattern>/wonder_board</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>WB_get</servlet-name>
		<servlet-class>com.gurugv.wonderboard.WonderGet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>WB_get</servlet-name>
		<url-pattern>/wbGet</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>WB_Set</servlet-name>
		<servlet-class>com.gurugv.wonderboard.WonderSet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>WB_Set</servlet-name>
		<url-pattern>/wbSet</url-pattern>
	</servlet-mapping>
	
		<servlet>
		<servlet-name>WB_Share</servlet-name>
		<servlet-class>com.gurugv.wonderboard.WonderShare</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>WB_Share</servlet-name>
		<url-pattern>/wbShare</url-pattern>
	</servlet-mapping>
	
	
	<servlet>
		<servlet-name>WB_ShareGet</servlet-name>
		<servlet-class>com.gurugv.wonderboard.WonderShareGet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>WB_ShareGet</servlet-name>
		<url-pattern>/wbShareGet</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>WB_SignUp</servlet-name>
		<servlet-class>com.gurugv.wonderboard.WbSignup</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>WB_SignUp</servlet-name>
		<url-pattern>/wbSignup</url-pattern>
	</servlet-mapping>
	
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>
</web-app>
